body{
    background-color: #ffe4dfa7;
}

.headshot-image {
    width: 100%; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rounded-square {
    width: 200px; 
    height: 200px; 
    border-radius: 15px; 
    object-fit: cover; 
  }
