h1 {
	font-family: Georgia, serif;
	padding-top: 50px;
}

div {
	text-align: center;
}

.left {
	text-align: left;
	
}

/*list style*/
ul {
	list-style: none;
	padding: 0;
	padding-top: 10px;
	background-color: #E0E0E0;
}

li {
	display: inline-block;
	margin-right: 10px;
}

/*nav style*/
.nav-button{
	border-radius: 5px;
	background-color: #ff6666;
	color: #F5FFFA;
	border: 2px solid #ff9999;
	padding: 5px 10px;
	text-decoration: none;
}
.nav-button:hover {
	color: #f4a9a9;
	background-color: #ffd8d887;
  }

.nav-button + .nav-button {
	margin-left: 10px;
}

.navbar-detail{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navbar-middle{
	display: flex;
	gap: 5px;
}

/*aboutMe list style*/
ul.interests{
	list-style: disclosure-closed;
	background-color: #F0F0F0;
	margin-left: 40px;
}

.interests li{
	display: list-item;
	color: MidnightBlue;
}

/*paragraph style*/
p {
	color: DimGray;
}

.p-aboutMe {
	color: Black;
}

/*unused atm but may use later
.flex-container {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
*/


img{
	border-radius: 5px;
	border: 2px solid #ff9999;
}
